{
    "YourGameKey": {
        "gameexecutable": "PathToLaunchGame",
        "gameprocessname": "NameOfTheProcessToSearch"
    },
    "YourGameKeyBis": {
        "applicationname": "applicationNameSteamOverride",
        "gameexecutable": "PathToLaunchGame",
        "gameprocessname": "NameOfTheProcessToSearch"
    }
}
